In [1]:
import trino
from trino import dbapi
import random
from datetime import datetime, timedelta
import faker

In [3]:
conn = trino.dbapi.connect(
    host='localhost',
    port=8080,
    user='dbt-trino',
    catalog='postgresql',
    schema='public',
)
cur = conn.cursor()

# Step 1: Create the accounts table
create_table_query = """
CREATE TABLE IF NOT EXISTS accounts (
    account_id INT,
    first_name VARCHAR,
    last_name VARCHAR,
    address VARCHAR,
    email VARCHAR,
    mobile VARCHAR,
    start_date DATE
)
"""
cur.execute(create_table_query)
print("Table 'accounts' created successfully.")

# Step 2: Insert mock data into the accounts table
fake = faker.Faker()
num_records = 20  # Adjust the number of records as needed
insert_query = """
INSERT INTO accounts (account_id, first_name, last_name, address, email, mobile, start_date)
VALUES (?, ?, ?, ?, ?, ?, ?)
"""

for i in range(1, num_records + 1):
    account_id = i
    first_name = fake.first_name()
    last_name = fake.last_name()
    address = fake.address().replace("\n", ", ")
    email = fake.email()
    mobile = fake.phone_number()
    start_date = (datetime.now() - timedelta(days=30)).date()

    cur.execute(
        insert_query,
        [
            account_id,
            first_name,
            last_name,
            address,
            email,
            mobile,
            start_date
        ]
    )

print(f"{num_records} records inserted into 'accounts' table successfully.")

# Close the cursor and connection
cur.close()
conn.close()

Table 'accounts' created successfully.
20 records inserted into 'accounts' table successfully.

In [ ]:
# Establish connection
conn = trino.dbapi.connect(
    host='localhost',
    port=8080,
    user='dbt-trino',
    catalog='postgresql',
    schema='public',
)
cur = conn.cursor()

# Step 1: Create the transactions table
create_table_query = """
CREATE TABLE IF NOT EXISTS transactions (
    transaction_id INT,
    account_id INT,
    transaction_date TIMESTAMP,
    amount DECIMAL,
    transaction_type VARCHAR,
    description VARCHAR,
    start_time TIMESTAMP,
)
"""
cur.execute(create_table_query)
print("Table 'transactions' created successfully.")

# Step 2: Insert mock data into the transactions table
fake = faker.Faker()
num_records = 10  # Adjust the number of records as needed
insert_query = """
INSERT INTO transactions (transaction_id, account_id, transaction_date, amount, transaction_type, description, start_time)
VALUES (?, ?, ?, ?, ?, ?, ?)
"""

for i in range(1, num_records + 1):
    transaction_id = i
    account_id = fake.random_int(min=1, max=10)  # Assuming accounts with IDs 1-10 exist
    transaction_date = datetime.now() - timedelta(days=fake.random_int(min=2, max=5))
    amount = round(fake.random_number(digits=4), 2)
    transaction_type = fake.random_element(elements=('credit', 'debit'))
    description = fake.sentence()
    start_time = datetime.now() - timedelta(days=0)
    end_time = None  # Transactions are "active"
    delete_flag = False
    load_timestamp = datetime.now() + timedelta(days=1)

    cur.execute(
        insert_query,
        [
            transaction_id,
            account_id,
            transaction_date,
            amount,
            transaction_type,
            description,
            start_time,
            end_time,
            delete_flag,
            load_timestamp
        ]
    )

print(f"{num_records} records inserted into 'transactions' table successfully.")

Table 'transactions' created successfully.
10 records inserted into 'transactions' table successfully.

datetime.datetime(2024, 11, 2, 14, 9, 32, 580068)

10 records inserted into 'accounts' table successfully.